<div class="contact-formats text-center">
	<div class="black-box background-white">
		<h2 style="font-size: 30px; margin-bottom: 20px">There are 3 ways to order from&nbsp;Aloop</h2>

		<div class="row">
			<div class="col-sm-4">
				<%= link_to spree_path, class: "no-underline" do %>
					<h2>Order<br class="hidden-lg"> Online</h2>
					<i class="icon ion-ios-cart"></i>
					<p>You can order any of our products on our online store.</p>
				<% end %>
			</div> <!-- contact format box -->

			<div class="col-sm-4">
				<a href="mailto:sales@aloop.com" class="no-underline">
					<h2>Send<br class="hidden-lg"> Email</h2>
					<i class="icon ion-paper-airplane"></i>
					<p>We welcome orders, reviews, and questions by email.</p>
				</a>
			</div> <!-- contact format box -->

			<div class="col-sm-4">
				<a href="#address-popup" class="open-popup-link no-underline">
					<h2>Postal<br class="hidden-lg"> Service</h2>
					<i class="icon ion-email"></i>
					<p>You can post orders as well as any questions you might have.</p>
				</a>
			</div> <!-- contact format box -->

		</div> <!-- row -->
	</div> <!-- column -->
</div> <!-- contact formats -->






<div id="address-popup" class="white-popup mfp-hide">
	<div class="text-center">
		<h2>Aloop Offroad</h2>
		<h4>PO Box 412
		<br>Sedalia, CO 80135, USA</h4>
    </div>
</div> <!-- address popup -->




<script type="text/javascript">
	$('.open-popup-link').magnificPopup({
	  type:'inline',
	  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
	});
</script>
