<header class="bgimage" style="background: url(<%= asset_url("polaris_4.jpg") %>)">
  <div class="index-only-text shadow-bottom w-100">
    <div class="container py-3">
      <h3>Exports</h3>
    </div> <!-- container -->
  </div> <!-- index text row -->
</header>





<div class="row text-center py-5">
	<div class="container">
		<h3 class="font-weight-bold">Overseas orders are no problem!</h3>
    <h4>We've sold thousands of our Aloop 4SMX kits to customers in over 40 countries! Most shipments are sent via US Mail Global Express Mail, and can arrive in under 1 week, no matter where in the world you live.</h4>

    <h3 style="font-weight: 900; margin-top: 0px"><%= link_to new_contact_path, class: "no-underline" do %>Contact us today for a shipping&nbsp;quote!<% end %></h3>

	</div> <!-- container -->
</div> <!-- row -->





<div class="text-center background-white shadow-top py-5">
  <div class="container">
    <div class="row justify-content-center">

    	<div class="col-12">
    		<h5>We usually ship overseas orders via US Mail Global Express Mail service. It takes about 3-5 days to reach Europe and 7-10 days to reach Asia and Australia. Cost for Global Express Mail shipping is usually about&nbsp;$150&nbsp;USD&nbsp;per&nbsp;kit.</h5>
        <h5>The kit comes in two boxes so it does not travel as an oversize parcel. With Global Express Mail we can track the progress of the packages and it's been a very reliable method to get our products overseas.</h5>
    		<h5><strong>We also have a distributor in Japan that stocks&nbsp;Aloop&nbsp;4SMX&nbsp;kits:</strong></h5>
    	</div> <!-- column -->

    	<%= link_to "http://www.chsports.com", class: "no-underline" do %>
    		<div class="col-12 black-box hover" style="margin-left: 10px">
    			<h2 style="font-size: 40px">Japan</h2>
    			<%= image_tag "japan.jpg", style: "width: 200px; margin: 40px 0 35px 0", alt: "Chane Sports" %>
    			<h4>Chane Sports</h4>
    		</div> <!-- distributor link -->
    	<% end %>

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- white bg -->
