<header
  class="bgimage"
  style="background: url(<%= asset_url("tiretracks.jpg") %>); height: 200px">
</header>

<div class="background-white py-5">
  <div class="container">
    <div class="row">
      <h1>Edit <%= @resource.title %></h1>
    </div> <!-- info row -->
    <%= render 'form', resource: @resource %>
  </div> <!-- info row -->
</div> <!-- container -->



<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
