<header
  class="bgimage"
  style="background: url(<%= asset_url("tiretracks.jpg") %>); height: 200px">
</header>

<div class="background-white py-5">
  <div class="container">


    <header class="text-center w-100">
      <h1>Useful Resources</h1>
    </header> <!-- info row -->


    <section class="row d-flex justify-content-center mt-3">
      <% if @resources.count == 0 %>
        <p>There are currently no resources in this category.  Check back soon!</p>
      <% else %>
        <% @resources.each do |resource| %>
          <%= render partial: "layouts/resource_card", locals: { resource: resource } %>
        <% end %>
      <% end %>
    </section> <!-- Grid row -->

  </div> <!-- container -->
</div> <!-- background -->


<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
