<header class="bgimage" style="background: url(<%= asset_url("polaris_10.jpg") %>)">
  <div class="index-only-text w-100">
    <div class="container py-3">
      <h3>Edit Your Photo</h3>
    </div> <!-- container -->
  </div> <!-- index text row -->
</header>





<div class="row background-white">
  <div class="container">
  	<%= render 'form' %>
  </div> <!-- page container -->
</div> <!-- row -->



<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
