<nav id="main-nav-bar" class="navbar">
  <ul class="nav" data-hook>
    <li id="home-link" class="nav-item" data-hook>
      <%= link_to Spree.t("Store Home"), spree.root_path, class: 'nav-link' %>
    </li>
  </ul>
  <ul class="nav navbar-right" data-hook>
    <% if current_spree_user && current_spree_user.admin? %>
      <li class="nav-item"><%= link_to "Admin Page", spree.admin_path, class: "nav-link" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Login", spree.login_path, class: "nav-link" %></li>
    <% end %>

    <li id="link-to-cart" class="nav-item" data-hook>
      <noscript>
        <%= link_to_cart %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</nav>
