<footer class="footer top-shadow-inset bg pt-5">

  <div class="row text-center footer-stripe">
    <div class="col-12">
      <h1>Aloop Offroad</h1>
      <h4>Unique Performance Prducts</h4>
    </div> <!-- col -->
  </div> <!-- title -->

  <div class="row tri-row pt-4">
    <div class="col-sm-4">
      <h3 class="text-center">Questions</h3>
      <p>If you really, really have to talk to a human being, then call Pete on his cell phone (<a href="tel:1-303-550-2582">+1 303-550-2582</a>) and leave a message.</p>
      <p>(He's the closest thing to a human being that we have here).</p>
      <p>Pete will get back to you as soon as possible, usually on the same day you call.</p>
    </div> <!-- triple thingy one -->

    <div class="col-sm-4">
      <h3 class="text-center">Contact Aloop</h3>
      <p>We might not keep regular office hours, but your business is still very important to us.</p>
      <p>You can contact us by postal service, <a href="mailto:sales@aloop.com">email</a>, or on our <%= link_to "contact us", new_contact_path %> page. We will attempt to respond to all inquiries within 24 hours.</p>
      <p>We are located in the USA Mountain Time Zone (GMT-7hrs).</p>
    </div> <!-- triple thingy one -->

    <div class="col-sm-4">
      <h3 class="text-center">Overseas Orders</h3>
      <p>Overseas orders are no problem!</p>
      <p>We've sold thousands of our Aloop 4SMX kits to customers in over 40 countries! Most shipments are sent via US Mail Global Express Mail, and can arrive in under 1 week, no matter where in the world you live.</p>
    </div> <!-- triple thingy one -->
  </div> <!-- triple thingy row -->


  <div class="row text-center footer-bottom">
    <div class="col-12">
      <p>
        <a href="mailto:sales@aloop.com">sales@aloop.com</a>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      PO Box 412, Sedalia, CO 80135, USA
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <%= link_to "Admin Login", spree_login_path %>
    </p>
    </div> <!-- col -->

    <div class="col-12">
      <a href="http://www.linchpinindustries.com" target="_blank" style="text-decoration: none">
        <div class="text-center">
          <p style="margin-bottom: 0; color: white; font-weight: 200">Website by
          <%= image_tag "lpi_logo_rect.png", style: "height: 30px; margin-left: 5px" %></p>
        </div> <!--lpi -->
      </a>
    </div> <!-- col -->
  </div> <!-- row -->


</footer>
